@font-face {
    font-family: AnandaBlack;
    src: url(../fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* list-style-type: none; */
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}


div.container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.white {
    width: 100%;
    height: 10px;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
}



/* HEADER */
header {
    padding: 0 90px;
    display: flex;
    justify-content: space-around;
    position: -webkit-sticky; /* For Safari */
    position: sticky; /* For other browsers */
    top: 0;
    background-color: white;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
}

header > .image {
    padding-top: 5px;
}
header > nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

header > nav > ul > li {
    list-style-type: none;
    margin-right: 50px;
    font-family: Quicksand;
    font-weight: 500;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: black;
}

header > nav > ul > li > a:hover {
    color: brown;
}

/* MAIN */

main > #banner-container {
    width: 100%;
    height: 100vh;
}

main > #banner-container > .banner {
    background: url('../images/limasawa_peak.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main > #banner-container > .banner > .highlight-content {
    padding: 0 50px 0 0;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
    color: white;
}

main > #banner-container > .banner > .highlight-content > h1 {
    font-family: 'AnandaBlack';
    font-size: 70px;
    text-shadow: 1px 1px 2px pink;
}

main > #banner-container > .banner > .highlight-content > p {
    font-family: Quicksand;
    font-size: 22px;
    margin: 0 0 30px 0;
}

main > #banner-container > .banner > .highlight-content > a {
    padding: 15px 20px;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-family: Quicksand;
    font-weight: 500;
    transition: background-color 0.4s ease;
}

main > #banner-container > .banner > .highlight-content > a:hover {
    color: white;
    background-color: black;
}

main > #history {
    padding: 50px 0 0 0;
    /* margin-bottom: 100px; */
    scroll-behavior: smooth;
    box-shadow: 0 0 10px #b6b4b4;
    background-color: rgba(246,245,240,255);
    color: rgba(15,21,53,255);
}

main > #history > .history-container {
    display: flex;
    flex-direction: column;
    padding: 20px 90px;
}

main > #history > .history-container > .info > p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

main > #history > .history-container > .off-list {
    padding-left: 50px;
    list-style-type: circle;
}

main > #history > .history-container > .off-list > li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

main > #resorts {
    padding: 50px 90px;
    background-color: rgba(246,245,240,255);
    color: rgba(15,21,53,255);
}

main > #resorts > .resort-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

main > #resorts > .resort-container > .resort-card {
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 10px 10px;
    gap: 20px;
}

main > #resorts > .resort-container > .resort-card > h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 30px;
}

main > #resorts > .resort-container > .resort-card > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

main > #tourist {
    background-color: rgba(246,245,240,255);
    color: rgba(15,21,53,255);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 90px;
    gap: 20px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px #b1b0b0;
}

main > #tourist > .spots-card:nth-child(odd) {
    display: flex;
    justify-content: start;
}

main > #tourist > .spots-card:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

main > #tourist > .spots-card > .spot-image {
    height: 350px;
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2), 0 9px 20px 0 rgba(0,0,0,0.19) !important;
}

main > #tourist > .spots-card > .spot-description {
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

main > #tourist > .spots-card > .spot-description > h3 {
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main > #tourist > .spots-card > .spot-description > p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-indent: 60px;
    text-align: justify;
}

main > #events {
    background-color: rgba(246,245,240,255);
    color: rgba(15,21,53,255);
    padding: 50px 90px;
}

main > #events > .events-container {
    width: 100%;
}

main > #events > .events-container > .events-card {
    width: 100%;
    height: 50%;
    display: flex;
}

main > #events > .events-container > .events-card > .event-description {
    padding: 30px 50px 20px 30px;
    width: 100%;
}

main > #events > .events-container > .events-card > .event-description h4 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

main > #events > .events-container > .events-card > .event-description p {
    font-size: 16px;
    text-indent: 40px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: rgba(226,246,252,255);
    color: rgba(2,13,26,255);
    width: 100%;
    height: 250px;
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
}

footer > .upper {
    display: flex;
    height: 60%;
    width: 100%;
    padding: 5px 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid rgb(125, 123, 123);
}

footer > .upper div {
    width: 100%;
    height: 100%;
    flex: 1 2 1;
    padding: 10px;
}

footer > .upper > .upper-left-footer {
    padding-left: 30px;
}

footer > .upper > .upper-left-footer a {
    color: black;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    transition: text-decoration 0.6s ease;
}

footer > .upper > .upper-left-footer a:hover {
    text-decoration: underline;
}

footer > .upper > .upper-left-footer h5{
    font-size: 15px;
    margin: 10px 0 2px 0;
}

footer > .upper > .upper-left-footer > p {
    font-size: 15px;
}

footer > .upper > .upper-mid-footer {
    padding: 10px 60px;
}

footer > .upper > .upper-mid-footer > p  {
    margin-bottom: 5px;
}

footer > .upper > .upper-right-footer {
    display: flex;
    justify-content: center;
    align-items:self-start;
}
footer > .upper > .upper-right-footer a {
    padding: 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 9px;
    margin: 0 auto;
    transition: background-color 0.5s ;
}

footer > .upper > .upper-right-footer a:hover {
    background-color: rgb(155, 157, 173);
    color: black;
}

footer > .lower {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-family: Quicksand;
}

main > .parallax-bg {
    width: 100%;
    height: 400px;
    background-color: black;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}
/* 
#parallax1,
#parallax2, 
#parallax3,
#parallax4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

#parallax1 {
    background: url("https://scontent.fceb8-1.fna.fbcdn.net/v/t39.30808-6/422349338_373502192093645_2570859348172214492_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHj-ZUI-B9M2dfl1aKYG9XnnMnNIFiQECScyc0gWJAQJMb-Tuanm20o8jTMZ_HDNU5_trm-7gQIZEoCcDOatJ-k&_nc_ohc=Y49dO0uJbxYAb4B2O-0&_nc_zt=23&_nc_ht=scontent.fceb8-1.fna&oh=00_AfCYzUN_vLpgq7n0ZRxnjravcNFvXPyc8DPMP_DVB4ZMSA&oe=662A868B");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#parallax2 {
    background: url("https://scontent.fceb8-1.fna.fbcdn.net/v/t39.30808-6/354210544_777313863838873_6054385951698939548_n.jpg?stp=cp6_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEjBTD42sKAET1QjdCUNnWydvVOCZoMEpJ29U4JmgwSkppZaEEvsP-QdHqSOb460_OgYjF5h6CaCp5ez_QKJgbF&_nc_ohc=71Fdb1cUg6AAb5-rQZY&_nc_zt=23&_nc_ht=scontent.fceb8-1.fna&oh=00_AfCHeOzasf7ukPt8UVQQfUjqXotduVSOIkIufOh9xvhtMw&oe=662A8575");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#parallax3 {
    background: url("https://scontent.fceb8-1.fna.fbcdn.net/v/t39.30808-6/435080481_3628373170752405_3215145652749512452_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF977D-0DW1l5itEagNKKZyWf6acVzxQ2lZ_ppxXPFDaf1BB2IXHYOThYzltpBdr910VZP5oRXSP2fwQPvPDZhM&_nc_ohc=OWB6WsDEazkAb49dxM1&_nc_zt=23&_nc_ht=scontent.fceb8-1.fna&oh=00_AfDJvrGfqN6UtFqiWXHtj4rfEWMQvDemUx8A_o2bTkEcdQ&oe=662A69DE");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#parallax4 {
    background: url("https://scontent.fceb8-1.fna.fbcdn.net/v/t39.30808-6/435250914_3628374214085634_6342884711237074091_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGa1WwfUigRn6XxspgUevWcM4uA8Wc0uFAzi4DxZzS4UKVoBFe8Lu8D95mZLOG5jqFi6XEZxncaJ0_8a9q6i7o8&_nc_ohc=Z4QBp9akNbYAb5Z1i3V&_nc_zt=23&_nc_ht=scontent.fceb8-1.fna&oh=00_AfCSF_dvaQOWY91bYO8NjbZpceMWCpGGajAd-g6lpB_yTg&oe=662A7EC8");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}