@font-face {
    font-family: AnandaBlack;
    src: url(fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* list-style-type: none; */
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}


div.container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
}


.top-details {
    padding: 15px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-details .left, header .right {
    width: 50%;
}

.top-details .left {
    display: flex;
    justify-content: center;
}

.top-details .left div {
    margin: 0 50px 0 0;
}

.top-details .left div i {
    font-size: 11px;
}

.top-details .right ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    padding-right: 120px;
}

.top-details .right ul li {
    margin-right: 15px;
}

.top-details .right ul li a{
    text-decoration: none;
    color: black;
}

.top-details .right ul li a i {
    font-size: 14px;
}

.top-details .left .header-details {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    padding: 0 90px;
    display: flex;
    justify-content: space-around;
    position: -webkit-sticky; /* For Safari */
    position: sticky; /* For other browsers */
    top: 0;
    background-color: white;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
}

header > .image {
    padding-top: 5px;
}
header > nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

header > nav > ul > li {
    list-style-type: none;
    margin-right: 50px;
    font-family: Quicksand;
    font-weight: 500;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: black;
}

header > nav > ul > li > a:hover {
    color: brown;
}

/* MAIN */

main > #banner-container {
    width: 100%;
    height: 100vh;
}

main > #banner-container > .banner {
    background: url('./images/limasawa_peak.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}

main > #history {
    margin-bottom: 100px;
}

main > #history > .history-container {
    display: flex;
    flex-direction: column;
    padding: 20px 90px;
}

main > #history > .history-container > .info > p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

main > #history > .history-container > .off-list {
    padding-left: 50px;
}

main > #history > .history-container > .off-list > li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

main > #resorts {
    padding: 20px 90px;
}

main > #resorts > .resort-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

main > #resorts > .resort-container > .resort-card {
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 10px 10px;
    gap: 20px;
}

main > #resorts > .resort-container > .resort-card > h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 30px;
}

main > #resorts > .resort-container > .resort-card > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


